.tasks--container {
  margin: 30px 10%;
  min-height: 58dvh;
  height: auto;
  max-height: max-content;
}

.tasks--container__heading {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
  margin-right: 10px;
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .tasks--container__heading {
    font-size: 20px;
  }

  .tasks--container {
    margin: 30px 0;
  }
}
